{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenu chez AutoGar</h1>
    <h3>La référence du garage auto</h3>
</div>
<div class="container">
    <h4>Qui sommes-nous ?</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ex explicabo repudiandae voluptatum, voluptatem reprehenderit delectus non atque, asperiores minima qui recusandae illo modi deserunt, ut quod. Explicabo soluta voluptates tenetur, debitis ab amet assumenda quod? Nostrum natus temporibus nisi delectus odio! Recusandae ullam amet at corporis ex, inventore earum?</p>
    <p>Ea doloremque facilis aut mollitia id, atque consectetur consequatur repellat ratione excepturi repellendus reiciendis corrupti obcaecati odit inventore amet dolorum sint ut cupiditate, libero eius eum similique! Veritatis magni excepturi, corporis harum id quis ipsam. Veniam repellat perspiciatis aspernatur explicabo, quibusdam, aut quas quam eos adipisci, perferendis amet fugiat consequatur.</p>
    <p>Fugit nostrum, ipsum hic ducimus tempore temporibus, cum, dolore laborum iure quisquam neque? Error quis adipisci totam nobis eveniet, odio dolores recusandae soluta eos, sed doloremque sit! Dolor quae eveniet doloribus harum deserunt impedit illum quisquam sequi delectus, qui, molestiae ex facere quod repellendus. Minus illum beatae fugiat? Nisi, veniam.</p>
</div>
<div class="container">
    <h2>Nos derniers modèles</h2>
    <div class="row">
        {% for auto in autos %}
            {# {% set url = path('ads_show', {'slug':ad.slug}) %} #}
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        {{ auto.km }} km, <strong>{{ auto.price }}</strong>€ / nuit
                    </div>
                    <a href="#">
                        <img src="{{ auto.cover }}" alt="image de l'annonce {{ auto.modele }}" class="starsimg">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{ auto.marque }}</h4>
                        <h4 class="card-title">{{ auto.modele }}</h4>
                        <p class="card-text">{{ auto.descri | raw }}</p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
